<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Negar M.</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Negar M.H.</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Projects</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#background">Background</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="img/avatar.svg" alt="" style="border-radius: 50%;">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Negar M.H.</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading mb-0">Data Analyst - Software Developer</p>
      <div class="row">
        <div class="divider-custom divider-light">
        </div>
        <div class="col-lg-4 ml-auto">
          <p class="lead">Passionate about empowering education using new technologies. Skilled in Machine Learning, Data Analysis, Web Development, Android Development, and IoT Development. </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead"> PhD student in Computer Science with a focus on Intelligent Tutoring Systems at the University of Canterbury with </p>
        </div>
    </div>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Porojects</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-puzzle-piece"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" >
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="border-radius: 50%">
              <div class="portfolio-item-caption-content text-center text-white">
                Tyred
              </div>
            </div>
            <div class="portfolio-item-caption-content text-center">
              <img class="img-fluid" src="img/portfolio/Tyred.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- Portfolio Modal - Title -->
          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tyred</h2>
          <!-- Portfolio Modal - Text -->
          <p class="mb-5">Tyred was born in a hackathon in 2018. Tyred doesn't like biking in hilly areas of NZ! So its ambition is finding easy cycling routes in NZ for everyone who is like Tyred! You can learn more baout Tyred on my github repository</p>
          <a class="btn btn-primary" href="https://github.com/nemote95/Tyred">
            Github Repo
          </a>
          <a class="btn btn-primary" href="/Tyred">
            Demo
          </a>
        </div>
      </div>

        <!-- Portfolio Item 2 -->
        <div class="row justify-content-center">
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
          </div>
          <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Crop Row Detection</h2>
            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Crop-row detection project aims at finding the crop rows in different fields using simple image-processing methods and Mean-Shift clustering. This can be used for agricultural robots which should move between the crop rows. Check it out on my github repository if you're intrested to know how it works</p>
            <a class="btn btn-primary" href="https://github.com/nemote95/crop-row-detection">
              Github Repo
            </a>
          </div>
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" >
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="border-radius: 50%">
              <div class="portfolio-item-caption-content text-center text-white">
                Crop Row Detection
              </div>
            </div>
            <div class="portfolio-item-caption-content text-center">
              <img class="img-fluid" src="img/portfolio/crop-row.png" alt="">
          </div>
          </div>
        </div>
    </div>
        <!-- Portfolio Item 3 -->
    <div class="row">
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
      </div>
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" >
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="border-radius: 50%">
              <div class="portfolio-item-caption-content text-center text-white">
                Comment Analysis
              </div>
            </div>
            <div class="portfolio-item-caption-content text-center">
              <img class="img-fluid" src="img/portfolio/comment.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- Portfolio Modal - Title -->
          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Comment Analysis</h2>
          <!-- Portfolio Modal - Text -->
          <p class="mb-5">As a part of my PhD thesis, I've been working on analysing comments in educational platforms. This analysis includes Natural Language Processing (NLP) to assess the written self-reports of the learners, modeling the learners based on their performance and providing personalized support to them. You can learn more about my work and this project on ResearchGate. </p>
          <a class="btn btn-primary" href="https://www.researchgate.net/project/Reflective-experiential-learning-Using-active-video-watching-to-teach-soft-skills" >
            ResearchGate
          </a>
        </div>
    </div>
        <!-- Portfolio Item 4  -->
    <div class="row">
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
        </div>
        <div class="col-lg-8">
          <!-- Portfolio Modal - Title -->
          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">GPS-based snakes and ladders </h2>

          <!-- Portfolio Modal - Text -->
          <p class="mb-5">Marrun is a GPS-based snakes and ladders game which the player move on the virtual board by walking from one point to the other point. The goal of this game is . </p>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" >
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="border-radius: 50%">
              <div class="portfolio-item-caption-content text-center text-white">
                GPS-based<br> Snakes & Ladders
              </div>
            </div>
            <div class="portfolio-item-caption-content text-center">
            <img class="img-fluid" src="img/portfolio/marrun.png" alt="">
          </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
      </div>
        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-3">
          <div class="portfolio-item mx-auto" >
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" style="border-radius: 50%">
              <div class="portfolio-item-caption-content text-center text-white">
                Covid19
              </div>
            </div>
            <div class="portfolio-item-caption-content text-center">
            <img class="img-fluid" src="img/portfolio/covid19.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- Portfolio Modal - Title -->
          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">NZ Covid19</h2>
          <!-- Portfolio Modal - Text -->
          <p class="mb-5"> A webscraper whcih reads data from NZ Covid19 website every day to get the number of new cases everyday and anlyses this data </p>
          <a class="btn btn-primary" href="https://github.com/nemote95/covid19-nz">
            Github </a>

          <a class="btn btn-primary" href="/covid19"> Demo </a>
    <div class="row">
        <!-- Portfolio Item 6 TODO
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
          </div>
        </div>
-->
      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">Background</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-6 ml-auto">
          <div class="lead">
            <p>Education</p>
            <ul>
              <li>PhD in Computer Science - University of Canterbury, NZ.</li>
              <li>MSc in Coumputer Science - University of Canterbury, NZ. (GPA: 7.34)</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 mr-auto">
          <div class="lead">
            <p>Industerial experience</p>
            <ul>
              <li>Software Developer - Bremca Ltd., NZ. : Developing a switchboard data automation solution </li>
              <li>DigiTech Intern - Cawthron, NZ. : Designed an IoT solution for temperature analysis</li>
              <li>AI Engineer - Komodo Monitor, NZ. : Developed a group model to provide insights for trainers  </li>

            </ul>
          </div>
        </div>
        </div>
      </div>

      <!-- About Section Button  TODO
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
          Free Download!
        </a>
      </div>
      -->

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-paper-plane"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="text-center mt-4">
            <p><i class="fab fa fa-envelope"></i>
              <a href="mailto:negar.mohammadhassan@pg.canterbury.ac.nz" onclick="send_email()">  negar.mohammadhassan@pg.canterbury.ac.nz  </a></p>
            <p>
              <i class="fab fa-fw fa-github"></i>
               <a  href="https://github.com/nemote95">https://github.com/nemote95</a>
            </p>

            <p>
              <i class="fab fa-fw fa-linkedin-in"></i>
              <a  href="https://www.linkedin.com/in/negar-mohammadhassan">https://www.button.com/in/negar-mohammadhassan/
              </a>
          </div>
        </div>
      <!-- Contact Section Form
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  -->
  </section>

  <!-- Footer
  <footer class="footer text-center">
    <div class="container">
      <div class="row">


        <div class="col-lg-4 mb-5 mb-lg-0">
                  <!-- Footer Location TODO
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Christchurch, NZ</p>

        </div>


        <!-- Footer Social Icons
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/nemote95">
            <i class="fab fa-fw fa-github"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://medium.com/@nemote95">
            <i class="fab fa-fw fa-medium"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.button.com/in/negar-mohammadhassan-80154b84/">
            <i class="fab fa-fw fa-button-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>
        -->

        <!-- Footer About Text
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div>

      </div>
    </div>

  </footer>

-->
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Negar M.H. 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>


  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">NZ Covid19</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/portfolio/covid19.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5"> A webscraper whcih reads data from NZ Covid19 website every day to get the number of new cases everyday and anlyses this data </p>
                <a class="btn btn-primary" href="https://github.com/nemote95/covid19-nz">
                  Github Link</a>

                <a class="btn btn-primary" href="/covid19"> Demo </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/portfolio/submarine.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>

</html>
